<% unless current_user.subscriptions.empty? || current_user.subscriptions.last.link_count == 0 %>
  <%= link_to 'Shorten New Link', new_link_path, class: "btn btn-warning" %>
<% end %>

<div class="page-header">
  <h1>Links List</h1>
</div>
<div class='panel panel-default'>
  <table class='table'>
    <thead>
      <tr>
        <th>Original URL</th>
        <th class="text-center">Shorten URL</th>
        <th class="text-center">Status</th>
        <th>Time</th>
        <th>Action</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @links.each do |link| %>
        <tr>
          <td><%= link_to truncate(link.original, length: 60), link.original, target: '_blank' %></td>
          <td class="text-center"><%= link_to link.display_slug, link.display_slug, target: '_blank' %></td>
          <td class="text-center">
            <% if link.clicks == 0 %>
              Available
            <% else %>
              Not Available
            <% end %>
          </td>
          <td><%= time_ago_in_words(link.created_at) %> ago</td>
          <td><%= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= will_paginate @links %>
