<p>
  <strong>Original:</strong>
  <%= @link.original %>
</p>

<p>
  <strong>Short:</strong>
  <%= @link.display_slug %>
</p>

<p>
  <strong>Clicks:</strong>
  <%= @link.clicks %>
</p>
<%= link_to @link.display_slug, @link.display_slug, target: '_blank' %>

<%= link_to 'Back', links_path %>
