<%= form_for(@plan) do |f| %>
  <% if @plan.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(@plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

      <ul>
      <% @plan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= select_tag(:count, options_for_select(@plan.min_numb_links..@plan.max_numb_links)) %>
  </div>

  <div class="actions">
    <div class="btn-group">
      <button type="button", class: "btn btn-default">
        <%= link_to 'Back', root_url%>
      </button>
      <%= f.submit "" , type: :image, src: "https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif" %>
    </div>
  </div>

<% end %>
