<%= form_for(@plan) do |f| %>
  <div class="field">
    <%= f.label :Plan_name  %>
    <em id="plan_name"><%= @plan.name %></em>
  </div>
  <div class="field">
    <%= f.label :Please_select_quantity_of_links  %>
    <%= select_tag(:count, options_for_select(@plan.min_numb_links..@plan.max_numb_links)) %>
  </div>

  <div class="actions">
      <%= f.label :Click_here_to_proceed  %>
      <%= f.submit "" , type: :image, src: "https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif", id: "paypal_button" %>
  </div>
  <div>
    <%= link_to 'Back', root_path, class: "btn btn-default" %>
  </div>
<% end %>
